.twoItems {
    width: 69%;
    position: relative;
}

.singleItem {
    width: 34%;
    position: relative;
}

@media (max-width: 500px) {
    .singleItem {
        width: 100%;
    }
    .twoItems {
        width: 100%;
    }
}